.text-input {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;

    background: $text-input-background;
    border: 1px solid $text-input-border;
    border-radius: 5px;

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    cursor: text;
    
    input {
        flex: 1;
        background: transparent;
        border: 0px;
        outline: none;

        font-weight: 400;
        font-size: 16px;

        color: $text-input-color;

        &::placeholder {
            color: $text-input-placeholder-color;
        }
    }

    span {
        color: $text-input-color;

        font-weight: 900;
        font-size: 16px;
    }
}

.button-input {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;

    background: $button-input-background;
    color: $button-input-color;
    font-weight: 900;
    font-size: 18px;

    border: 0px;
    border-radius: 5px;

    transition: .125s;
    cursor: pointer;

    &:hover {
        background: $button-input-background-hover;
    }

    &.important {
        background-color: $error-popup-background;
        border: 1px solid $error-popup-border;
        color: $error-popup-color;

        &:hover {
            background-color: $error-popup-border;
            border: 1px solid $error-popup-color;
        }
    }
}

.text-button {
    font-size: 18;
    font-weight: 400;

    color: $text-button-color;

    width: 100%;
    text-align: center;

    .button {
        font-weight: 900;
        text-decoration: underline;

        transition: .125s;
        cursor: pointer;

        &:hover {
            color: $text-button-color-hover;
        }
    }
}