$accent: #A4D48C;
$accent-dark: #657a5a;

$background-main: #242825;
$background-main-lighter: #2f3530;

// -----

$text-input-background: $background-main-lighter;
$text-input-border: #3d463f;
$text-input-color: $accent;
$text-input-placeholder-color: $accent-dark;

$button-input-background: $accent-dark;
$button-input-background-hover: $accent;
$button-input-color: $background-main-lighter;

$title-color: $accent;
$subtitle-color: $accent-dark;

$text-button-color: $accent-dark;
$text-button-color-hover: $accent;

$error-popup-background: #743a3a;
$error-popup-border: #cd5c5c;
$error-popup-color: #ffe4e0;