@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import '../assets/fontawesome/css/all.min.css';
html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
#root .login, #root .register {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  background: #242825;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .login .content, #root .register .content {
  max-width: 450px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#root .login .content .input-cont, #root .register .content .input-cont {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#root .login .text-input, #root .register .text-input {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  background: #2f3530;
  border: 1px solid #3d463f;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: text;
}
#root .login .text-input input, #root .register .text-input input {
  flex: 1;
  background: transparent;
  border: 0px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: #A4D48C;
}
#root .login .text-input input::-moz-placeholder, #root .register .text-input input::-moz-placeholder {
  color: #657a5a;
}
#root .login .text-input input::placeholder, #root .register .text-input input::placeholder {
  color: #657a5a;
}
#root .login .text-input span, #root .register .text-input span {
  color: #A4D48C;
  font-weight: 900;
  font-size: 16px;
}
#root .login .button-input, #root .register .button-input {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  background: #657a5a;
  color: #2f3530;
  font-weight: 900;
  font-size: 18px;
  border: 0px;
  border-radius: 5px;
  transition: 0.125s;
  cursor: pointer;
}
#root .login .button-input:hover, #root .register .button-input:hover {
  background: #A4D48C;
}
#root .login .text-button, #root .register .text-button {
  font-size: 18;
  font-weight: 400;
  color: #657a5a;
  width: 100%;
  text-align: center;
}
#root .login .text-button .button, #root .register .text-button .button {
  font-weight: 900;
  text-decoration: underline;
  transition: 0.125s;
  cursor: pointer;
}
#root .login .text-button .button:hover, #root .register .text-button .button:hover {
  color: #A4D48C;
}
#root .login .title-cont, #root .register .title-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#root .login .title-cont .title, #root .register .title-cont .title {
  font-size: 40px;
  font-weight: 900;
  color: #A4D48C;
}
#root .login .title-cont .title img, #root .register .title-cont .title img {
  width: 30px;
  height: 30px;
}
#root .login .title-cont .subtitle, #root .register .title-cont .subtitle {
  font-size: 24px;
  font-weight: 900;
  color: #657a5a;
}
#root .login .error-popup, #root .register .error-popup {
  width: 100%;
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  background: #743a3a;
  border: 1px solid #cd5c5c;
  border-radius: 5px;
  color: #ffe4e0;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
}
#root .home {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  background: #242825;
}
#root .home .left-bar {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 300px;
  height: 100%;
  box-sizing: border-box;
  background: #191b1a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root .home .left-bar .username {
  width: 100%;
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  padding-bottom: 5px;
  font-weight: 900;
  font-size: 32px;
  color: #A4D48C;
}
#root .home .left-bar .description {
  width: 100%;
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  padding-top: 0px;
  font-weight: 900;
  font-size: 18px;
  color: #657a5a;
}
#root .home .left-bar .hr {
  width: 90%;
  height: 5px;
  background: #A4D48C;
  border-radius: 5px;
}
#root .home .left-bar .navbar {
  min-width: 300px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
}
#root .home .left-bar .navbar .navlink {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  padding: 12.5px;
  font-size: 18px;
  font-weight: 900;
  color: #657a5a;
  background: #191b1a;
  border-radius: 10px;
  transition: 0.125s;
}
#root .home .left-bar .navbar .navlink.active {
  background: #242825;
  color: #A4D48C;
}
#root .home .left-bar .navbar .navlink:hover {
  background: #2f3530;
  color: #A4D48C;
}
#root .home .content {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
}
#root .home .content .seedlings {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 25px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
#root .home .content .seedlings .top-bar {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
}
#root .home .content .seedlings .top-bar .text-input {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  background: #2f3530;
  border: 1px solid #3d463f;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: text;
}
#root .home .content .seedlings .top-bar .text-input input {
  flex: 1;
  background: transparent;
  border: 0px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: #A4D48C;
}
#root .home .content .seedlings .top-bar .text-input input::-moz-placeholder {
  color: #657a5a;
}
#root .home .content .seedlings .top-bar .text-input input::placeholder {
  color: #657a5a;
}
#root .home .content .seedlings .top-bar .text-input span {
  color: #A4D48C;
  font-weight: 900;
  font-size: 16px;
}
#root .home .content .seedlings .top-bar .button-input {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  background: #657a5a;
  color: #2f3530;
  font-weight: 900;
  font-size: 18px;
  border: 0px;
  border-radius: 5px;
  transition: 0.125s;
  cursor: pointer;
}
#root .home .content .seedlings .top-bar .button-input:hover {
  background: #A4D48C;
}
#root .home .content .seedlings .top-bar .text-button {
  font-size: 18;
  font-weight: 400;
  color: #657a5a;
  width: 100%;
  text-align: center;
}
#root .home .content .seedlings .top-bar .text-button .button {
  font-weight: 900;
  text-decoration: underline;
  transition: 0.125s;
  cursor: pointer;
}
#root .home .content .seedlings .top-bar .text-button .button:hover {
  color: #A4D48C;
}
#root .home .content .seedlings .top-bar .button-input {
  width: -moz-fit-content;
  width: fit-content;
}
#root .home .content .seedlings .content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}
#root .home .content .seedlings .content .seedling {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  background: #191b1a;
  border: 1px solid #3d463f;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}
#root .home .content .seedlings .content .seedling:hover {
  background: #2f3530;
}
#root .home .content .seedlings .content .seedling .left {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#root .home .content .seedlings .content .seedling .left .name {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
  color: #A4D48C;
}
#root .home .content .seedlings .content .seedling .left .description {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  color: #657a5a;
}
#root .home .content .seedlings .content .seedling .right {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .home .content .seedlings .content .seedling .right .sprinkles {
  display: flex;
  box-sizing: border-box;
  color: #657a5a;
  background-color: #2f3530;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.125s;
}
#root .home .content .seedlings .content .seedling .right .sprinkles:hover {
  background-color: #191b1a;
}
#root .home .content .seedlings .content .seedling .right .sprinkles .icon {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #3d463f;
}
#root .home .content .seedlings .content .seedling .right .sprinkles .number {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #3d463f;
  border-left: 0px;
  font-weight: 900;
}
#root .home .content .tadpoles {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 25px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
#root .home .content .tadpoles .top-bar {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
}
#root .home .content .tadpoles .top-bar .text-input {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  background: #2f3530;
  border: 1px solid #3d463f;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: text;
}
#root .home .content .tadpoles .top-bar .text-input input {
  flex: 1;
  background: transparent;
  border: 0px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: #A4D48C;
}
#root .home .content .tadpoles .top-bar .text-input input::-moz-placeholder {
  color: #657a5a;
}
#root .home .content .tadpoles .top-bar .text-input input::placeholder {
  color: #657a5a;
}
#root .home .content .tadpoles .top-bar .text-input span {
  color: #A4D48C;
  font-weight: 900;
  font-size: 16px;
}
#root .home .content .tadpoles .top-bar .button-input {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  background: #657a5a;
  color: #2f3530;
  font-weight: 900;
  font-size: 18px;
  border: 0px;
  border-radius: 5px;
  transition: 0.125s;
  cursor: pointer;
}
#root .home .content .tadpoles .top-bar .button-input:hover {
  background: #A4D48C;
}
#root .home .content .tadpoles .top-bar .text-button {
  font-size: 18;
  font-weight: 400;
  color: #657a5a;
  width: 100%;
  text-align: center;
}
#root .home .content .tadpoles .top-bar .text-button .button {
  font-weight: 900;
  text-decoration: underline;
  transition: 0.125s;
  cursor: pointer;
}
#root .home .content .tadpoles .top-bar .text-button .button:hover {
  color: #A4D48C;
}
#root .home .content .tadpoles .top-bar .button-input {
  width: -moz-fit-content;
  width: fit-content;
}
#root .home .content .tadpoles .content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}
#root .home .content .tadpoles .content .tadpole {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  background: #191b1a;
  border: 1px solid #3d463f;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}
#root .home .content .tadpoles .content .tadpole:hover {
  background: #2f3530;
}
#root .home .content .tadpoles .content .tadpole .left {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#root .home .content .tadpoles .content .tadpole .left .name {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
  color: #A4D48C;
}
#root .home .content .tadpoles .content .tadpole .left .description {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  color: #657a5a;
}
#root .home .content .tadpoles .content .tadpole .right {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .home .content .tadpoles .content .tadpole .right .seedlings-2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  color: #657a5a;
  background-color: #2f3530;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.125s;
}
#root .home .content .tadpoles .content .tadpole .right .seedlings-2:hover {
  background-color: #191b1a;
}
#root .home .content .tadpoles .content .tadpole .right .seedlings-2 .icon {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #3d463f;
}
#root .home .content .tadpoles .content .tadpole .right .seedlings-2 .number {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #3d463f;
  border-left: 0px;
  font-weight: 900;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.unselectable {
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}/*# sourceMappingURL=styles.css.map */